.heroBanner {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 3rem 0;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons .button {
    margin-left: 0 !important;
    margin-top: 0.5rem;
    width: 100%;
    max-width: 280px;
  }
}